.page-header {
  border: none;
  margin-top: 0;
  padding-top: 0;
}
.page-header h1 {
  font-size: 32px;
}
.entry-content a {
  box-shadow: none;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
  font-weight: bold;
}
.entry-summary h1,
.entry-summary h2,
.entry-summary h3,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6 {
  font-weight: bold;
}
.comment-content h1,
.comment-content h2,
.comment-content h3,
.comment-content h4,
.comment-content h5,
.comment-content h6 {
  font-weight: bold;
}
.textwidget h1,
.textwidget h2,
.textwidget h3,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
  font-weight: bold;
}
/*===================================
=            Schema list            =
===================================*/
.list-group .list-group-item {
  position: relative;
  border-radius: 0;
  border-right: 0;
  border-left: 0;
  padding: 0;
}
.list-group .list-group-item img.media-object {
  float: left;
  width: 70px;
  margin-right: 30px;
  margin-top: 5px;
}
.list-group .list-group-item h3 {
  margin-bottom: 5px;
  margin-top: 0;
  font-size: 26px;
}
.list-group .list-group-item a {
  padding: 30px 40px 30px 20px;
  display: block;
  width: 100%;
  height: auto;
  text-decoration: none;
  color: inherit;
  border: none;
}
.list-group .list-group-item a:after {
  content: ' ';
  display: table;
  clear: both;
  height: 0;
}
.list-group .list-group-item a:before {
  content: "\e258";
  position: absolute;
  right: 15px;
  top: 50%;
  height: 25px;
  margin-top: -12px;
  display: block;
  font-size: 25px;
  font-family: 'Glyphicons Halflings';
  color: #DEDEDE;
}
.list-group .list-group-item a.loading-library-view {
  background-color: rgba(222, 222, 222, 0.2);
}
.list-group .list-group-item a.loading-library-view:before {
  content: " ";
  position: absolute;
  right: 5px;
  top: 50%;
  height: 50px;
  width: 50px;
  margin-top: -25px;
  display: block;
  background-image: url('../images/spinner_micro_transparent.gif');
  background-repeat: no-repeat;
  background-size: cover;
}
.list-group .list-group-item a:hover {
  background-color: rgba(222, 222, 222, 0.2);
}
.list-group .list-group-item a .deprecated-label {
  color: #c5c5c5;
}
.list-group .list-group-item p {
  margin: 0;
}
.list-group .list-group-item .topic-content {
  padding-bottom: 8px;
  margin-left: 100px;
}
.list-group .list-group-item .item-count {
  display: inline-block;
  position: relative;
  top: -5px;
  padding: 4px 15px;
  margin-left: 10px;
  border: 2px solid #DEDEDE;
  border-radius: 40px;
  font-family: OpenSans;
  font-size: 14px;
  color: #7B7B7B;
  line-height: 19px;
}
.loading-search,
.no-results {
  padding-top: 20px;
}
.search-panel {
  padding: 30px 20px;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
}
.search-panel h3 {
  display: inline-block;
  vertical-align: bottom;
  margin-top: 0;
  margin-bottom: 0;
}
.search-panel .btn-small {
  display: inline-block;
  vertical-align: bottom;
  padding-top: 8px;
  padding-bottom: 7px;
  margin-top: 0;
  margin-bottom: 0;
}
.search-panel input {
  display: inline-block;
  height: 35px;
  width: 333px;
  padding-left: 10px;
  margin: 0;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
  vertical-align: bottom;
}
.list-group-item {
  border-top: none;
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 0;
}
/*=====  End of Schema list  ======*/
/*===================================
=            Schema View            =
===================================*/
.meta-data:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: -3px;
  vertical-align: middle;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.meta-data.schema-author:before {
  background-image: url('images/icon-author.svg');
}
.meta-data.schema-id:before {
  background-image: url('images/icon-schema.png');
}
.meta-data.schema-date:before {
  background-image: url('images/icon-clock.svg');
}
.meta-data.schema-clime-approval:before {
  background-image: url('images/icon-badge.png');
}
.schema-nav .schema-version-selector .btn.btn-small.dropdown-toggle span.dropdown-title {
  width: 90px;
}
.schema-nav .schema-version-selector .dropdown-menu {
  min-width: 135px;
}
.meta-data {
  padding-top: 10px;
}
header {
  margin-bottom: 30px;
}
section {
  margin-bottom: 30px;
}
.wildcard-version {
  color: #aaa;
  font-size: 11px;
  margin-left: 5px;
}
.scroll-link {
  cursor: pointer;
  margin-top: 12px;
}
.alert-box {
  padding: 20px 30px;
  margin: 20px 0;
  border-radius: 8px;
  background: #feeac9;
  /* font-family: Montserrat; */
  text-transform: uppercase;
  font-size: 12px;
}
.alert-box .date {
  font-weight: bold;
}
.alert-box .link-label {
  font-weight: bold;
}
.schema-view {
  position: relative;
  font: normal normal normal normal 14px / 15px OpenSans;
  overflow-wrap: normal;
  word-wrap: normal;
}
.schema-view .truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.schema-view .navbar-default {
  background: transparent;
  border: none;
  position: absolute;
  padding-top: 21px;
  width: 100%;
}
.schema-view .navbar-default .navbar-header {
  width: 100%;
}
.schema-view .schema-library-nav.affix {
  top: 0;
  z-index: 10;
}
.schema-view article {
  padding-top: 110px;
}
.schema-view .dropdown-toggle {
  right: auto;
  top: auto;
  max-width: none;
  width: auto;
  height: auto;
  padding: 10px 15px 7px 15px;
  border: 1px solid #dedede;
}
.schema-view .dropdown-toggle:after {
  content: none;
  display: none;
}
.schema-view .sample-data-selector {
  margin-top: 20px;
}
.schema-view .schema-selector {
  margin: 15px 0;
}
.schema-view .schema-version-selector {
  margin-left: 5px;
}
.schema-view .schema-breadcrumb {
  margin-top: 8px;
}
.schema-view .schema-breadcrumb span.glyphicon {
  margin-left: 5px;
  margin-right: 7px;
  font-size: 12px;
  padding-top: 5px;
  color: #DEDEDE;
}
.schema-view .schema-nav .schema-version-selector .btn.btn-small.dropdown-toggle span.dropdown-title {
  width: 90px;
}
.schema-view .schema-nav .schema-version-selector .dropdown-menu {
  min-width: 135px;
}
.schema-view .navbar .schema-nav {
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.92);
  border-bottom: 1px solid #DEDEDE;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
}
.schema-view .btn.btn-small.dropdown-toggle {
  font-size: 14px;
  color: #7B7B7B;
  text-transform: none;
  font-weight: normal;
  border-width: 1px;
  letter-spacing: 0;
  position: relative;
  overflow: visible;
}
.schema-view .btn.btn-small.dropdown-toggle span.dropdown-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 160px;
  text-align: left;
  height: 18px;
}
.schema-view .btn.btn-small.dropdown-toggle span.dropdown-title span {
  color: #aaa;
  font-size: 11px;
  margin-left: 5px;
}
.schema-view .btn.btn-small.dropdown-toggle span.caret {
  margin-left: 7px;
}
.schema-view .dropdown-menu {
  left: auto;
  right: 0;
}
.schema-view .dropdown-menu li {
  cursor: pointer;
}
.schema-view .dropdown-menu li > span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  padding: 3px 15px;
  clear: both;
  white-space: nowrap;
}
.schema-view .dropdown-menu li > span:hover {
  background: #DEDEDE;
}
.schema-view .dropdown-menu li > span span {
  color: #aaa;
  font-size: 11px;
  margin-left: 5px;
}
.schema-view a.menu-cycle {
  cursor: pointer;
  display: inline-block;
  border-bottom: 0;
  color: #DEDEDE;
  font-size: 20px;
  vertical-align: middle;
}
.schema-view a.menu-cycle:hover,
.schema-view a.menu-cycle:active {
  color: #7B7B7B;
}
/*=====  End of Schema View  ======*/
